*{
    margin: 0;
    padding: 0;
}

/* added fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* shared styles */

header{
    max-width: 1440px;
    margin: 25px auto;
}

.color-252432{
    color: rgba(37, 36, 50, 1);
}

.color-8987A1{
    color: rgba(137, 135, 161, 1);
}

.display-flex{
    display: flex;
}

/* nav styles */
.nav{
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    justify-content: center;
    align-items: center;
}

.item{
    list-style: none;
    margin-right: 50px;
}

